section {
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content: center;
}

mat-card {
    width: 70%;
    padding: 0;
    margin: 0;
    height: 65vh;
    background: none;
    border: 5px solid white;
    border-radius: 5px;
    margin-top: 25vh;
}
button {
    background: none;
    border: solid 1px black;
    padding: 0.8em;
    font-size: 1em;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: var(--bg-red);
    color: var(--bg-black);
}
mat-card-actions {
    background-color: var(--bg-black);
}
.red {
    background-color: var(--bg-red);
    color: var(--bg-black);
}

svg {
    position: absolute;
    fill: var(--bg-black);
    right: 0;
    bottom: 0;
    display: none;
}