<section>
    
    <mat-card>
        <mat-card-actions class="en-tete">
            <button (click)="showComponent(a)" [ngClass]="{'red': isCompetences}">Compétences</button>
            <button (click)="showComponent(b)"[ngClass]="{'red': isMotivations}">Motivations</button>
            <button (click)="showComponent(c)"[ngClass]="{'red': isParcours}">Parcours</button>
        </mat-card-actions>
        <mat-card-content class="corps">
            <app-competences *ngIf="isCompetences"></app-competences>
            <app-motivations *ngIf="isMotivations"></app-motivations>
            <app-parcours *ngIf="isParcours"></app-parcours>
        </mat-card-content>
    </mat-card> 
</section>
