aside {
    height: 50%;
    width: 90%;
    margin-top: 2vh;
}
p {
    color: white;
}
aside div div{
    height: 2vh;
    border-radius: 2px;
    display: flex;
    align-items: center;
    background-color: var(--bg-red);
}
#HTML {
    animation: htmlLoadingBar 2s forwards;
    animation-play-state: var(--about-animation-trigger);
    width: 0%;
}
#CSS {
    animation: cssLoadingBar 2s forwards;
    animation-play-state: var(--about-animation-trigger);
    width: 0%;
    animation-delay: .3s;

}
#JavaScript {
    animation: javaScriptLoadingBar 2s forwards;
    animation-delay: .3s;
    width: 0%;
    animation-play-state: var(--about-animation-trigger);
}
#Typescript {
    animation: typeScriptLoadingBar 2s forwards;
    animation-play-state: var(--about-animation-trigger);
    width: 0%;
}
#Java {
    animation: javaLoadingBar 2s forwards;
    animation-play-state: var(--about-animation-trigger);
    width: 0%;
}
#Angular {
    animation-delay: .3s;
    animation: angularLoadingBar 2s forwards; 
    animation-play-state: var(--about-animation-trigger);
    width: 0%;
}

@keyframes htmlLoadingBar {
    from {width: 0%;}
    to {width: 100%;}
}
@keyframes cssLoadingBar {
    from {width: 0%;}
    to {width: 80%;}
}
@keyframes javaScriptLoadingBar {
    from {width: 0%;}
    to {width: 60%;}
}
@keyframes javaLoadingBar {
    from {width: 0%;}
    to {width: 20%;}
}
@keyframes angularLoadingBar {
    from {width: 0%;}
    to {width: 50%;}
}
@keyframes typeScriptLoadingBar {
    from {width: 0%;}
    to {width: 40%;}
}

aside div div p {
    margin-left: 10px;
}
aside div p {
    margin: 0;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}
aside h1 {
    margin-bottom: 2.5vh;
}
.blend {
    animation: h1BgAnim 2s;
    background-color: var(--bg-red);
    width: 20%;
    animation-play-state: var(--about-animation-trigger);
}
h1 {
    font-size: 2em;
    color: white;
    margin: 0;
    margin-top: 2.5vh;
    mix-blend-mode: difference;


}
@keyframes h1BgAnim {
    from {
        width: 0%;
    }
    to {
        width: 20%;       
    }
}
h2 {
    font-size: 2em;
    font-weight: 350;
    color: var(--bg-red);
    margin: 0;
}
h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--bg-black);
}
span {
    font-size: 1em;
    color: var(--bg-black);

}