<div id="parcours">
    <div class="blend">
        <h1>Parcours</h1>
    </div>
    <div *ngFor="let card of cards" id="card-wrapper">
        <div id="{{card.id}}" class="card card{{card.id}}" title="{{card.date}}">
            <div class="card-conteneur">
                <h2>{{card.title}}</h2>
                <h3>{{card.subTitle}}</h3>
                <span>{{card.text}}</span>
                <p>{{card.description}}</p>
            </div>
            <button id="btn"(click)="cardShuffle(card.id)"><i class="fa fa-long-arrow-right"></i>Mon année {{card.nextDate}}</button>
        </div>
    </div>
</div>