div {
    margin-top: 2vh;
    width: 80%;
}
h1 {
    font-size: 2em;
    color: white;
    margin: 0;
    margin-top: 2.5vh;
    mix-blend-mode: difference;

}
strong {
    color: var(--bg-black);
    background-color: var(--bg-red);
    width: 100%;
}
.blend {
    animation: h1BgAnim 2s;
    background-color: var(--bg-red);
    width: 20%;
    animation-play-state: var(--about-animation-trigger);
}
@keyframes h1BgAnim {
    from {
        width: 0%;
    }
    to {
        width: 20%;       
    }
}
h2 {
    font-size: 2em;
    font-weight: 350;
    color: var(--bg-red);
    margin: 0;
}
h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--bg-black);
}
span {
    font-size: 1em;
    color: var(--bg-black);

}