<div>
    <div class="blend">
        <h1>Motivations</h1>
    </div>
    <p>
        Au cours des six derniers mois, je me suis formé au développement web et à la conception d'applications.
        J'ai acquis des compétences en <strong>HTML, CSS, JavaScript, Angular, Node.js et Java</strong> entre autres.
        J'ai également développé ce <strong>portfolio</strong> pour mettre en pratique ces compétences et démontrer ma capacité à créer
        des applications web <strong>fonctionnelles</strong> et <strong>esthétiques</strong>.
    </p>
    <p>
        Bien que je n'aie pas d'expérience professionnelle en tant que Concepteur d'Application Web,
        je suis convaincu que mon <strong>auto-formation rigoureuse</strong>, ma <strong>curiosité</strong> et ma <strong>maturité</strong> me permettront de répondre aux
        attentes de votre parcours de formation.
        En effet, mon parcours professionnel antérieur m'a permis de développer une solide éthique de travail,
        une capacité à résoudre des problèmes complexes et une grande adaptabilité.
    </p>
</div>