.form-conteneur {
    width: 70%;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    margin-top: 2vh;
}
input, textarea {
    font-size: 18px;
    background-color: var(--bg-black);
    border: none;
    border-radius: 5px;
    caret-color: white;
    color: var(--bg-red);
    padding-left: 10px;
}
input{
    height: 50px;
    width: 150%;
}
textarea {
    width: 190%;
    height: 6em;
}
.btn {
    border: none;
    background: none;
    box-shadow: none;    
    background-color: var(--bg-black);
    color: white;
    font-size: 30px;
    font-variant-caps: small-caps;
    border-radius: 5px;
    margin-top: 1em;
    padding: 10px;

}
.btn:hover {
    color: var(--bg-black);
    background: none;
    cursor: pointer;
}
.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

label {
    color: var(--bg-black);
    font-variant-caps: small-caps;
    font-size: px;
    margin-bottom: 0.2em;
    margin-left: 10px;
}
::placeholder {
    color: var(--bg-red);
    opacity: 1;
    font-variant-caps: small-caps;
}


.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42c949;
}
.ng-invalid:not(form)  {
    border-left: 5px solid #eb3a37; /* red */
  }