  <nav>
      <a href ="#home"><i [ngClass]="{'display': homeHover}">.</i>Home</a>
      <a href="#about"><i [ngClass]="{'display': aboutHover}">.</i>About</a>
      <a href ="#project"><i [ngClass]="{'display': projectHover}">.</i>Projets</a>
      <a href="#contact"><i [ngClass]="{'display': contactHover}">.</i>Contact</a>
  </nav>
  <div class="components-container">
    <section id="home"
    (mouseenter)="homeHover=!homeHover"
    (mouseleave)="homeHover=!homeHover">
      <app-home></app-home>
    </section>
    <section id="about" 
    (mouseenter)="isAboutInViewport=!isAboutInViewport; 
    animationTrigger();
    aboutHover=!aboutHover"
    (mouseleave)="aboutHover=!aboutHover">
      <app-about></app-about>
    </section>
    <section id="project"
    (mouseenter)="isProjetInViewport=!isProjetInViewport; 
    animationTrigger();   
    projectHover=!projectHover"
    (mouseleave)="projectHover=!projectHover">
      <app-project></app-project>
    </section>
    <section id="contact" 
    (mouseenter)="isContactInViewport=!isContactInViewport; 
    animationTrigger();
    contactHover=!contactHover"
    (mouseleave)="contactHover=!contactHover">
      <app-contact></app-contact>
    </section>
  </div>
