<section *ngIf="showMeteo">
    <div id="elem">
        <form (submit)="onSubmit()">
            <input [(ngModel)]="ville" type="text" name="ville" placeholder="Nom de la ville" id="abc" (keydown.enter)="onKeydown($event)">
            <div  *ngIf="notCity" class="alert" > {{error}} </div>
        </form>
        <h1 id="titre">{{enTete || "Entrer le nom d'une Ville pour commencer"}}</h1>
        <p id="humidity">
            <span *ngIf="submit">Humidité: </span>{{fetchHumidity}}<br>
            <span *ngIf="submit">Conditions: </span>{{conditions}} <br>
            <span *ngIf="submit">Dernière mise à jour: </span>{{update}}
        </p>
        <img id="icon" [src]="fetchIcon" [alt]="conditions"> 
        <button type="submit" (click)="onClick()">Rechercher</button>
    </div>
</section>