/* You can add global styles to this file, and also import other style files */
:root{
    --bg-black: #242733;
    --bg-red: #E5F4E3;
    --about-animation-trigger: paused;

}

body {
    margin: 0;
}
html {
    scroll-snap-type: y mandatory;
}
a, p, span, article, li {
    color: white;
    font-family: "Open Sans";
    font-weight: 400;
}
h1, h2, h3 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 15em;
    font-style: normal;
    color: var(--bg-red);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
